/* Navbar */
.navbar {
	text-transform: uppercase;
	font-size: 2em;
}
body {
	background-color: rgb(50,50,50);
	color: white;
}
section {
	padding: 50px;
}
/*map*/
#map {
	height: 480px; /* height must be set, else it won't display*/
}
.mapBox {
	background-color: black;
}

/************************************Circles************************************/
.touple:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-color: transparent;

  border-color: #FFDE59;
  border-radius: 50%;
  border-style: solid;
  border-width:5px;
}
.circle {
  float: left;
  width: 100%;
  padding-top: 50%;
	margin-top: -1.9em;
  text-align: center;
}
/*That's default - two rows of three circles. Below 350px the make one column*/
@media only screen and (min-width: 350px) {
  .smallColumn {
    display: inline-block;
    position: relative;
    width: 30%;
    margin: 4% 0 0 3%;
    padding: 0;
    background-color: transparent;
    border-top: none;
  }
  .smallColumn:nth-child(3n+1) {
    margin-left: 1%;
  }
}
/* Colours for info inside circles*/
.green {
	color: #53803F;
}
.orange {
	color: #FFBD59;
}
.red {
	color: #FF5757;
}
.purple {
	color: #794A87;
}
.yellow {
	color: #FFDE59;
}
/***********************************/
/*Text inside circles*/
.circle {
  text-transform: uppercase;
  font-weight: bold;
	font-size:2.2vw;
  display: block;
  vertical-align: middle;
	color:white;
}
.circle p span {
	display:block;
}
@media only screen and (max-width: 350px) {
	.circle {
		font-size:2em;
	}
}

/**********************************************************************/
