/* Navbar */
.navbar {
	text-transform: uppercase;
	font-size: 2em;
}
body {
	background-color: rgb(50,50,50);
	color: white;
}
section {
	padding: 50px;
}
/*map*/
#map {
	height: 480px; /* height must be set, else it won't display*/
}
.mapBox {
	background-color: black;
}

/************************************Circles************************************/
.touple:after {
	/*This are settings below 350px and just general style of circles - one circle in a row*/
  content: ""; /* all text is inside circle class */
  display: block; /* we want them to display as a block, so they are not overlaping*/

	/*This three lines makes the circles responsive*/
  width: 100%; /* On small screens the circle should take whole width*/
  height: 0; /* explained below */
  padding-bottom: 100%; /* padding-top and padding-bottom in percentages are based on width of element, with height of 0 it makes padding-bottom responsible for height*/


	/*style not related to how circles stack*/
  background-color: transparent;
  border-color: #FFDE59;
  border-radius: 50%; /* makes them circes */
  border-style: solid;
}
.circle {
  float: left;
  display: block;
  width: 100%;
  padding-top: 50%;
	margin-top: -1.9em;

  text-align: center;
	text-transform: uppercase;
  font-weight: bold;
	font-size:2.2vw;

  vertical-align: middle;
	color:white;
}
.circle p span {
	display:block;
}
@media only screen and (max-width: 350px) {
	.circle {
		font-size:2em;
	}
}

/*That's the code for screens bigger then 350 -  three circles in a row.*/
@media only screen and (min-width: 350px) {
  .smallColumn {
    display: inline-block; /* makes them stack next to each other */
    position: relative;
    width: 30%; /* this is changing the width on bigger devices, but padding-bottom(height of element) is still relative to this so keeps elements circles */
    margin: 4% 0 0 3%;
  }
	/*This selector selects every first circle in a row - I could use id, but this will work if we want to add more circles*/
  .smallColumn:nth-child(3n+1) {
    margin-left: 1%; /*this makes three circles to stack in one row - try to comment it out and see what happens */
  }
}
/* Colours for info inside circles*/
.green {
	color: #53803F;
}
.orange {
	color: #FFBD59;
}
.red {
	color: #FF5757;
}
.purple {
	color: #794A87;
}
.yellow {
	color: #FFDE59;
}


/**********************************************************************/
